<h1>New Update</h1>

<p>Update posted succesfully.</p>
<ul>
  <%= for link <- @links do %>
    <li><%= link link, to: link %></li>
  <% end %>
</ul>

<span><%= link "Back", to: Routes.update_path(@conn, :new) %></span>
