<h1>New Update</h1>

<p>Update posted succesfully.</p>
<ul>
  <%= for {name, values} <- @links do %>
    <li><%= name %>
      <ul>
        <%= for url <- values do %>
          <li><%= link url, to: url %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<span><%= link "Back", to: Routes.update_path(@conn, :new) %></span>
