<h1>New Update</h1>

<%= form_for @conn, Routes.update_path(@conn, :create), [as: :update], fn f -> %>
<p>
  <%= label f, :in_reply_to %>
  <%= text_input f, :in_reply_to %>
</p>

<p>
  <%= label f, :text %>
  <%= textarea f, :text, rows: 10 %>
</p>

<p style="display: flex; justify-content: space-between;">
  <%= submit "Preview", name: "preview" %>
  <%= submit "Post", name: "post" %>
</p>
<% end %>
