<h1>New Update</h1>

<%= form_for @conn, Routes.update_path(@conn, :preview), [as: :update], fn f -> %>
  <%= label f, :in_reply_to %>
  <%= text_input f, :in_reply_to %>

  <%= label f, :text %>
  <%= textarea f, :text %>

  <%= submit "Preview!" %>
<% end %>
