/* This file is for your main application css. */

@import "./enough.css";
@import "./enough.media.css";
@import "./enough.code.css";

input, textarea{
  box-sizing: border-box;
  padding: 0.5em;
  display: block;
  width: 100%;
  font: inherit;
  border: 1px inset;
}

pre{
  white-space: pre-wrap;
}
