/* This file is for your main application css. */

@import "./enough.css";
@import "./enough.media.css";
@import "./enough.code.css";

input[type="file"], input[type="text"], textarea{
  display: block;
}

input[type="text"], textarea{
  box-sizing: border-box;
  padding: 0.5em;
  width: 100%;
  font: inherit;
  border: 1px inset;
}

input[type="checkbox"]{
  margin-right: 0.5em;
}

pre{
  white-space: pre-wrap;
}
